.thumb {
    display:block;
    width:250px;
    height:176px;
    position:center;
    margin-top: 20px;
    margin-bottom:20px;
    margin-right:13px;
    margin-left:13px;
    float:left;
}
    .thumb-wrapper {
        display:block;
        width:100%;
        height:100%;
/*        border-radius: 10px;
        box-shadow: -5px 5px 5px #FFFFFF;*/
    }
    .thumb img {
        width:100%;
        height:100%;
        position:absolute;
        display:block;
        border-radius: 10px;            
    }
    
    .thumb .thumb-detail {
        display:block;
        width:100%;
        height:100%;
        position:absolute;            
        background:#fff;
        border-radius: 10px;        
    }
        
/*
* Without CSS3 Scroll Up Effect
*/
.thumb.scroll {
    overflow: hidden;
}    
    .thumb.scroll .thumb-detail {
        bottom:-280px;
    }

.thumb.flip {
    perspective:800px;
}
    .thumb.flip .thumb-wrapper {
        transition: transform 1s;
        transform-style: preserve-3d;            
    }
    
    .thumb.flip .thumb-detail {
        transform: rotateY(-180deg);                           
    }
    
    .thumb.flip img,
    .thumb.flip .thumb-detail {
        backface-visibility: hidden;
    }
    
    .thumb.flip .flipIt {
        transform: rotateY(-180deg);            
    }
